<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Agenda de contactos</h1>
        <p class="lead">Bienvenido a la mejor agenda de contactos</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Estas logueado como "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Si queres </span>
                <a class="alert-link" (click)="login()">ingresar</a><span>, cuenta por defecto:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>No tenes cuenta aun?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Registrar nuevo usuario</a>
            </div>
        </div>
    </div>
</div>
